/* text color */
body {
    color: red;
}
p {
    color: blue;
}
/* text alignment */
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
h3 {
    text-align: right;
}
div {
    text-align: justify;
}
